html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 60%;
}

main {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 50%;
}

.right-section {
  width: 50%;
}
