html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 50%;
}

h1 {
  padding: 0 20px;
}

main {
  display: flex;
  flex-direction: row;
}

.left-section {
  width: 50%;
  padding: 0 20px;
}

.left-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  align-self: center;
  background-color: #555;
  height: 30px;
  border: none;
  color: white;
  padding: 0 24px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.right-section {
  width: 50%;
  padding: 0 20px;
}
